# Ignore all
*

# Exclusions
!Utils/
!Utils/**
!docs/
!docs/**
!website/
!website/**
!selene.toml
!LICENSE
!.gitignore
!rokit.toml
!roblox.yml
!.luaurc
!README.md
!utils.project.json
!moonwave.toml
!.github/
!.github/workflows/
!.github/workflows/pages.yml

# Generated
website/node_modules/
website/build/

# Ignore for now
LuauVM/